@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  html{
    scroll-behavior: smooth;
  }
 body{
   display:flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   width: 100%;
   font-family: 'Permanent Marker', cursive;
   color: #ff9e3a;
   background-color: black;
 }

 .heading{
   margin-top: 10rem;
   margin-bottom: 5rem;
 }

 h1{
   font-size:9rem;
   letter-spacing: 0.7rem;
   line-height: 4.8rem;
 }

 p{
   font-size: 3rem;
   margin-bottom: 20rem;
 }
 
 #box-container{
   background-color: #ff9800;
   border-radius: 40.5rem;
   max-width: 1000px;
   margin-bottom: 2rem;
   padding: 10rem;
 }
 #container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2rem;
}
 .box {
   width: 9rem;
   height: 9rem;
   position: relative;
   border: 3px solid black;
   margin: 0.7rem;
   border-radius: 1.5rem;
   cursor: pointer;
} 

.score.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    font-size: 5rem;
    font-family: fantasy;
    background-color: black;
}
.box img{
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}

.box .front, 
.box .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 0.8s;
}

.box .front{
  transform: perspective(1000px) rotateY(0deg);
  z-index: 2; 
}
.box .back{
  transform: perspective(1000px) rotateY(180deg);
  z-index: 1; 
}

#frontImg{
  transform: perspective(1000px) rotateY(-180deg);
  z-index: 2;
}
#backImg {
  transform: perspective(1000px) rotateY(0deg);
  z-index: 1;
}

button{
  width: 20rem;
  height: 4rem;
  border-radius: 2rem;
  align-items: center;
  border-style: none;
  outline: none;
  font-family: 'Josefin Sans';
  font-size: 2.5rem;
  background-color: #ff9800;
  color: black;
  margin-bottom: 2rem;
}
.startButton button{
  font-family: sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  width: 30rem;
   height: 5rem;
   border-radius: 2.5rem;
}
button:hover{
  cursor: pointer;
  background-color: rgb(198, 238, 105);
}





